#CustomPrecache {
	visibility: collapse;
	background-image: url("file://{resources}/images/custom_game/payment/payment_bg.png");
	background-image: url("file://{resources}/images/custom_game/payment/payment_boost.png");
	background-image: url("file://{resources}/images/custom_game/payment/reset_mmr.png");

	background-image: url("file://{resources}/images/custom_game/collection/shop_icon.png");
	background-image: url("file://{resources}/images/custom_game/collection/shop_coin.png");
	background-image: url("file://{resources}/images/custom_game/collection/base_booster.png");
	background-image: url("file://{resources}/images/custom_game/collection/golden_booster.png");
	background-image: url("file://{resources}/images/custom_game/collection/spin_border.png");
	background-image: url("file://{resources}/images/custom_game/collection/spin_arrow.png");
	background-image: url("file://{resources}/images/custom_game/collection/spin_background.png");
	background-image: url("file://{resources}/images/custom_game/collection/spin_mask.png");
	background-image: url("file://{resources}/images/custom_game/collection/collection_icon.png");
	background-image: url("file://{resources}/images/custom_game/collection/collection_icon_12v12.png");
	background-image: url("file://{resources}/images/custom_game/collection/collection_icon_OT.png");

	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_starter.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_collection_1.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_golden_pets.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_roshan_pets.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_hallowed_shimmer.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_winter.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_international_2016.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_international_2017.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_international_2018.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_international_2019.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_newbloom.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_emotes_basic.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/treasure_emotes_deluxe.png");
	background-image: url("file://{resources}/images/custom_game/collection/Treasures/gift_free_treasure.png");

	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_tour.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_1_sup1.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_2_mmr1700.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_3_treasure.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_5_coins.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/diretide_emblem_yellow.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/diretide_emblem_red.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/diretide_emblem_green.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/diretide_emblem_blue.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/crystal_emblem.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/overgrown_emblem.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/sunken_emblem.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/fountain_effect_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/fountain_effect_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/fountain_effect_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/fountain_effect_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/divinity_emblem.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/newbloom.png");

	background-image: url("file://{resources}/images/custom_game/collection/Sprays/bear_cry_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_apple_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_boo_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_brood_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_bs_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_cat_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_dp_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_gummy_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_lycan_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_roshan_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/diretide_taffy_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ez_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/based_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/furbolg_highfive_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/invoker_smart_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/kekw_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/kekwait_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/liltree_happy_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/liltree_sad_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/lina_angry_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/lion_xd_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/mirana_shh_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/monkas_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/monkey_zen_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/monkeyking_monkeychamp_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/naturesprophet_o_o_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/omegalul_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/pogu_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/pudge_nailedit_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/roflan_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/sf_shrug_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/shaker_confus_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_chicken_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_darkwillow_wow_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_grimstroke_happytree_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_invoker_sunstrike_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_jakiro_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_jugg_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_kotl_mana_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_mars_fightme_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_morphling_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_np_popcorn_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_ogre_think_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_roshan_cheese_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_rubick_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_snapfire_cookie_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_sven_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_techies_barrel_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_troll_loser_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_undying_rip_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_wisp_strong_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti10_wraithking_cdi_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_aa_icecream_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_bountyhunter_riches_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_earthshaker_dunk_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_legioncommander_loser_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_legioncommander_winner_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_lion_zap_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_meepo_dirt_nap_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_monkeyking_bananaphone_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_phoenix_eggy_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_puck_dagoned_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_pugna_magic_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_riki_hidden_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_skywrath_dunno_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_spiritbreaker_choochoo_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_sven_strength_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_tusk_snowball_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_ursa_funny_bear_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_wyvern_kiss_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/ti9_zeus_jump_spray.png");
	background-image: url("file://{resources}/images/custom_game/collection/Sprays/tide_thumbsup_spray.png");

	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_1.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_2.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_3.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_4.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_5.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Auras/test_aura_treasure_10.png");

	background-image: url("file://{resources}/images/custom_game/collection/Pets/roshan_pet.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/chicken_pet.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/blue_dragon.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/red_dragon.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/gold_dragon.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/platinum_roshan.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/pet_spider.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/devourling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/seekling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/pudgling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/doomling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/huntling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/krobeling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/venoling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/voidling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/lunaling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/butch.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/bearling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/wyvern.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/almond_the_frondillo.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/mechanical_spider.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/ice_spider.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/coconut_warrior.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/shroomling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/luminaries.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_collector2017.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_desert_sand.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_golden.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_jade.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_lava.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_ice.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_dark_moon.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_honey_heist.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/baby_roshan_gingerbread.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/strongback_the_swift.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_doomling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_huntling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_krobeling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_venoling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_seekling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_devourling.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_greevil.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_beetlejaws.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/golden_flopjaw.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/hallowed_horde.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/fraidy_jack.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/hollow_jack.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/spooly.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/scatter_brains.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/skeleton_warrior.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/wraith_warrior_green.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/wraith_warrior_red.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/wraith_spider.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/icewrack_wolf.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/duskie.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/scuttling_scotty.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/serac_the_seal.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/snowl.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/throe.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/wabbit.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/wabbit_the_mighty.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/boreal_sigil.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/jade_dragon.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/redhoof.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/redhorn.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/teron.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/azuremir.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/gama_brothers.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/nian_courier.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/jadehorn.png");
	background-image: url("file://{resources}/images/custom_game/collection/Pets/jadehoof.png");

	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_phantom.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_red_ash.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_green_ash.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_blue_ash.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_purple_ash.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_yellow_ash.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_diretide_bats.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_midnight_pulse.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_sparkles.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_leaves.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_impact.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_flash.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_raze.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_snow.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_red_whirl.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_blue_whirl.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_avowance.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_newbloom_sparkles.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_newbloom_explosion.png");
	background-image: url("file://{resources}/images/custom_game/collection/KillEffects/kill_effect_newbloom_fireworks.png");

	background-image: url("file://{resources}/images/custom_game/collection/Barrages/barrages_bg.png");

	background-image: url("file://{resources}/images/custom_game/collection/Items/items_bottle_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_eul_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_force_staff_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mekansm_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mael_mjoll_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_phase_boots_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_radiance_ti6.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_bottle_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_eul_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_force_staff_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_dagon_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_iron_branch_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_phase_boots_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mael_mjoll_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mekansm_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_radiance_ti7.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_eul_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_force_staff_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_bottle_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_phase_boots_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mekansm_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_radiance_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mael_mjoll_ti8.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_eul_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_force_staff_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_bottle_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_phase_boots_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mekansm_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_mael_mjoll_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Items/items_radiance_ti9.png");

	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_white.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_dark.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_bronze.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_midas.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_winter.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_ice.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_fire.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_paw.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_diretide.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_newbloom.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/high_five_skeleton.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/attack_projectile_divine_shadow.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/attack_projectile_divine_light.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/attack_projectile_ti10.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/attack_projectile_burning_rock.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/attack_projectile_frozen_rock.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/attack_projectile_ti9.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/ability_reroll_1.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/ability_reroll_2.png");

	background-image: url("file://{resources}/images/custom_game/collection/Specials/glory_pack_50.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/glory_pack_100.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/glory_pack_150.png");
	background-image: url("file://{resources}/images/custom_game/collection/Specials/glory_pack_200.png");

	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_owl.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_warburrow_ravager.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_red_panda.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_giant_panda.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_atniw.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_ragnar.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_bjorn.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_sigurd.png");
	background-image: url("file://{resources}/images/custom_game/collection/SpellEffects/lonedruid_bear_iron_claw.png");

	background-image: url("file://{images}/custom_game/button_bg_gold_gold.png");
	background-image: url("file://{images}/custom_game/button_bg_gold_orange.png");

	background-image: url("file://{images}/custom_game/collection/collection_trophy_source.png");
	background-image: url("file://{images}/custom_game/collection/collection_glory_source.png");

	background-image: url("file://{images}/custom_game/collection/item_equipped.png");

	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_100.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_550.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_1150.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_3000.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_6500.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_15000.png");

	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_100_no_fortune.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_550_no_fortune.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_1150_no_fortune.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_3000_no_fortune.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_6500_no_fortune.png");
	background-image: url("file://{images}/custom_game/collection/glory_shop/glory_bundle_15000_no_fortune.png");

	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/high_five_custom.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_ti9_banner.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_summon_cny_balloon.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_summon_dragon.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_summon_cny_tree.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_firecrackers.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_ti9_shovel.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_ti9_instruments.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_ti9_monkey.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_summon_ti9_balloon.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_throw_snowball.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_festive_firework.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_decorate_tree.png");
	background-image: url("file://{images}/custom_game/collection/CosmeticAbilities/seasonal_summon_snowman.png");
	background-image: url("file://{images}/custom_game/collection/default_cosmetic_ability.png");
	background-image: url("file://{images}/custom_game/collection/spray_empty.png");
	background-image: url("file://{images}/custom_game/collection/spray_no_empty.png");

	background-image: url("file://{images}/custom_game/collection/mastery/fortune_icon.png");
	background-image: url("file://{images}/custom_game/collection/mastery/fortune_icon_gold.png");
	background-image: url("file://{images}/custom_game/collection/mastery/mastery_poligon_tier_1.png");
	background-image: url("file://{images}/custom_game/collection/mastery/mastery_poligon_tier_2.png");
	background-image: url("file://{images}/custom_game/collection/mastery/mastery_poligon_tier_3.png");
	background-image: url("file://{images}/custom_game/collection/mastery/mastery_poligon_equipped.png");
	background-image: url("file://{images}/custom_game/collection/mastery/mastery_poligon_mask.png");
	background-image: url("file://{images}/custom_game/collection/mastery/mastery_equipped_flag.png");
	background-image: url("file://{images}/custom_game/collection/mastery/mastery_poligon_selected.png");

	background-image: url("file://{images}/custom_game/collection/mastery/icons/abjuration.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/acrobatics.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/ascension.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/brute.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/celerity.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/champion.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/cleave.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/colossus.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/control.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/countermagic.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/evasion.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/ferocity.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/giant_reach.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/glass_cannon.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/heavy_armor.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/initiative.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/iron_body.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/luck.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/magician.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/manafication.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/might.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/nimble.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/regeneration.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/revenge.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/speed_of_thought.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/spell_vampirism.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/spellcraft.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/sprinter.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/tenacity.png");
	background-image: url("file://{images}/custom_game/collection/mastery/icons/vampirism.png");
	background-image: url("file://{resources}/images/custom_game/collection/OtherSources/tournament_2020_4.png");

	background-image: url("file://{resources}/images/custom_game/inventory.png");

	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_cup_ffa.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_cup_duos.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_cup_squads.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_cup_enfos.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_ffa.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_duos.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_squads.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_enfos.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_trophy.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_background_1.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_background_2.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top0.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top1.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top2.png");
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top3.png");

	background-image: url("file://{resources}/images/custom_game/ability_selection/innate_opacity_mask.png");
	background-image: url("file://{resources}/images/custom_game/ability_selection/panel_bg_clean.png");
	background-image: url("file://{resources}/images/custom_game/ability_selection/button_bg_reroll.png");
	background-image: url("file://{resources}/images/custom_game/ability_selection/button_bg_close.png");
	background-image: url("file://{resources}/images/custom_game/ability_selection/button_bg_supporter.png");
	background-image: url("file://{resources}/images/custom_game/ability_selection/innate_border.psd");

	background-image: url("file://{resources}/layout/custom_game/common/game_perks/patreon_button_setting_glow.png");

	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/mp_regen_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/mp_regen_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/mp_regen_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/hp_regen_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/hp_regen_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/hp_regen_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_movespeed_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_movespeed_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_movespeed_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_agi_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_agi_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_agi_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_str_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_str_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_str_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_int_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_int_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_int_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_all_stats_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_all_stats_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_all_stats_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/attack_range_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/attack_range_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/attack_range_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_hp_pct_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_hp_pct_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_hp_pct_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cast_range_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cast_range_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cast_range_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cooldown_reduction_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cooldown_reduction_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cooldown_reduction_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/damage_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/damage_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/damage_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/evasion_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/evasion_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/evasion_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/lifesteal_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/lifesteal_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/lifesteal_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/mag_resist_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/mag_resist_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/mag_resist_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/spell_amp_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/spell_amp_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/spell_amp_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/spell_lifesteal_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/spell_lifesteal_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/spell_lifesteal_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/status_resistance_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/status_resistance_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/status_resistance_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/outcomming_heal_amplify_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/outcomming_heal_amplify_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/outcomming_heal_amplify_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/debuff_time_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/debuff_time_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/debuff_time_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_gold_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_gold_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/bonus_gold_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/gpm_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/gpm_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/gpm_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/str_for_kill_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/str_for_kill_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/str_for_kill_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/agi_for_kill_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/agi_for_kill_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/agi_for_kill_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/int_for_kill_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/int_for_kill_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/int_for_kill_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cleave_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cleave_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cleave_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cd_after_death_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cd_after_death_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cd_after_death_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/manaburn_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/manaburn_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/manaburn_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/magician_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/magician_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/magician_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/linken_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/linken_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/linken_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/buff_amplify_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/buff_amplify_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/buff_amplify_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/builder_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/builder_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/builder_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/traveler_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/traveler_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/traveler_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/delayed_damage_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/delayed_damage_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/delayed_damage_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/family_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/family_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/family_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/tinkerer_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/tinkerer_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/tinkerer_t2.png");

	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/attack_speed_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/attack_speed_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/attack_speed_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/armor_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/armor_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/armor_t2.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cast_time_t0.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cast_time_t1.png");
	background-image: url("file://{resources}/layout/custom_game/common/game_perks/icons/cast_time_t2.png");

	background-image: url("file://{resources}/images/custom_game/minimap_overlay_12v12.png");
	background-image: url("file://{resources}/images/custom_game/custom_pings_map_mask.png");
	background-image: url("file://{resources}/images/custom_game/ping_icon_waypoint_minimap.png");
	background-image: url("file://{resources}/images/custom_game/ping_icon_world_minimap.png");
	background-image: url("file://{resources}/images/custom_game/no_user.png");
	background-image: url("file://{resources}/images/custom_game/supp_plus.png");
	background-image: url("file://{resources}/layout/custom_game/common/synced_chat/chat_icon.png");
}
