.LeaderboardRoot {
	align: center center;
	opacity: 0;
}
.LeaderboardRoot.Show {
	opacity: 1;
}
#Leaderboard {
	width: 450px;
	height: 600px;
	background-image: url("file://{resources}/images/custom_game/loading_screen/patchnotes_background.png");
	background-size: 100%;
	box-shadow: black 0px 0px 8px 0px;
	flow-children: down;
}
#LeaderboardHeaderRoot {
	width: 100%;
}
#LeaderboardHeader {
	width: 100%;
	text-align: center;
	padding: 4px 0px 4px 0px;
	background-image: url("file://{resources}/images/custom_game/loading_screen/quest_header.png");
	background-size: 100%;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: semi-bold;
	color: gradient(linear, 0% 100%, 0% 0%, from(#cc6c33), to(#f1cc23));
	text-shadow: 0px 0px 3px 3 rgba(0, 0, 0, 0.5);
	letter-spacing: 1px;
	font-family: titleFont;
	brightness: 1.2;
}
#CloseLeaderboard {
	width: 21px;
	height: 21px;
	wash-color: #90a7c4;
	transition: brightness 0.1s ease-in-out 0s;
	background-image: url("file://{resources}/images/custom_game/import_dota/x_close_png.png");
	background-size: 100%;
	horizontal-align: right;
	margin: 4px;
}
#CloseLeaderboard:hover {
	brightness: 1.5;
}
#CloseLeaderboard:active {
	brightness: 2.5;
}
.FullSize {
	width: 100%;
	height: 100%;
}
#LocalRatingInfoRoot {
	height: 70px;
	width: 100%;
	background-image: url("file://{resources}/images/custom_game/loading_screen/quest_header.png");
	background-size: 100%;
}
#OverlayBottom {
	width: 100%;
	height: 50px;
	background-color: gradient(
		linear,
		0% 0%,
		0% 100%,
		from(transparent),
		color-stop(0.65, transparent),
		to(rgba(0, 0, 0, 0.8))
	);
	vertical-align: bottom;
}
#OverlayTop {
	width: 100%;
	height: 50px;
	background-color: gradient(
		linear,
		0% 0%,
		0% 100%,
		from(rgba(0, 0, 0, 0.8)),
		color-stop(0.35, transparent),
		to(transparent)
	);
	vertical-align: top;
}
#LocalAvatarImage {
	width: 50px;
	height: 50px;
	vertical-align: center;
}
#LocalRatingInfo {
	align: center center;
}
#LocalRatingInfo DOTAUserName {
	margin-left: 60px;
	max-width: 250px;
}
#LocalRatingInfo DOTAUserName Label {
	height: 21px;
}
#PlayerRatingLabel {
	width: 94px;
	height: 29px;
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_cup_ffa.png");
	background-size: 100%;
	margin-left: 60px;
	vertical-align: bottom;
}
#PlayerRatingWrap {
	height: 24px;
	width: 65px;
	vertical-align: bottom;
	margin-left: 87px;
	margin-bottom: 1px;
}
#LocalPlayerRating {
	width: 52px;
	height: 22px;
	text-align: center;
	color: gradient(linear, 0% 100%, 0% 0%, from(#e19e46), to(#ffcf3e));
	font-size: 18px;
	text-shadow: 0px 0px 2px 1 rgba(0, 0, 0, 1);
	transition: height 0.2s ease-in-out 0s, width 0.2s ease-in-out 0s;
	align: center center;
	text-overflow: shrink;
}
#LeaderboardData {
	margin-top: 30px;
	flow-children: down;
	overflow: squish scroll;
}
#TableHeader {
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.3);
}
.HeaderText {
	text-transform: uppercase;
	font-weight: lighter;
	color: white;
	font-size: 18px;
	vertical-align: center;
	margin-top: 1px;
	text-align: center;
}
#h1 {
	width: 80px;
}
#h2 {
	horizontal-align: center;
}
#h3 {
	horizontal-align: right;
	width: 100px;
}

.LeaderboardPlayer {
	width: 100%;
	height: 51px;
	flow-children: right;
	padding: 2px 0px 2px 0px;
}
.LeaderboardPlayer.dark {
	background-color: rgba(0, 0, 0, 0.36);
}

#RankIndexWrap {
	width: 30px;
	height: 30px;
	align: left center;
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top0.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 25px;
}
.top1 #RankIndexWrap {
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top1.png");
}
.top2 #RankIndexWrap {
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top2.png");
}
.top3 #RankIndexWrap {
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_icon_top3.png");
}
.top1 #RankIndex {
	text-shadow: 0px 0px 3px 3 rgba(0, 0, 0, 0.8);
}
#RankIndex {
	align: center center;
	text-align: center;
	color: gradient(linear, 0% 100%, 0% 0%, from(#e19e46), to(#ffcf3e));
	font-size: 21px;
	text-shadow: 0px 0px 3px 2 rgba(0, 0, 0, 0.78);
	text-overflow: shrink;
	width: 22px;
	height: 23px;
	/*background-color: rgba(14, 205, 230, 0.13);*/
}

.RankPlayerAvatar {
	width: 40px;
	height: 40px;
	vertical-align: center;
	margin-left: 25px;
}

.RankPlayerAvatar DOTAAvatarImage {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}
.RankPlayerName {
	font-size: 20px;
	vertical-align: center;
	margin-left: 10px;
	width: 230px;
	height: 20px;
}
#Rating {
	margin-right: 21px;
	font-size: 22px;
	align: right center;
	color: gradient(linear, 0% 100%, 0% 0%, from(#e19e46), to(#ffcf3e));
	saturation: 1.025;
	text-shadow: 0px 0px 3px 2 rgba(0, 0, 0, 0.5);
	text-align: center;
	width: 56px;
}
#ScrollThumb {
	background-color: #667895;
}
#VerticalScrollBar {
	width: 6px;
}
#OpenLeaderboard {
	background-image: url("file://{resources}/images/custom_game/leaderboard_icon.png");
	background-size: 28px;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 40px;
}
