#VoteOptionsGrid {
	width: 320px;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: 50px;
	margin-bottom: 200px;
	flow-children: down;
	vertical-align: center;
}
#VoteOptionsHeaderWrap {
	width: 100%;
	background-color: rgba(4, 5, 26, 0.3);
	height: 33px;
}
#VoteOptionsTotalVotesWrap {
	width: 100%;
}
#VoteOptionsHeaderText {
	align: center center;
	font-weight: lighter;
	color: gainsboro;
	font-size: 28px;
	text-overflow: shrink;
	text-align: center;
	width: 100%;
}
#VoteOptionsTotalVotesText {
	align: right center;
	font-weight: lighter;
	color: gainsboro;
	font-size: 14px;
}
#VoteOptionsButtons {
	flow-children: down;
	width: 100%;
	padding-left: 3px;
	padding-bottom: 3px;
}

.VoteOption {
	flow-children: right;
	width: 100%;
	margin-top: 3px;
}
#VoteOptionLocalVote {
	width: 7px;
	height: 100%;
	margin-left: 3px;
	margin-right: 1px;
	transition: background-color 0.3s ease-in-out 0s;
}
#VoteOptionLocalVote.choosed {
	background-color: #268c16;
}
#VoteOptionTotalVotesWrap {
	width: 36px;
	align: right center;
	padding-right: 1px;
}
#VoteOptionTotalVotesText {
	align: center center;
	font-size: 23px;
	color: gainsboro;
	text-align: center;
}
#VoteOptionTotalVotesText.init {
	text-shadow: 0px 0px 2px 1 #ffd600;
}
#VoteOptionButton {
	width: 85%;
	padding: 5px 5px;
	background-color: #222529;
	box-shadow: inset rgba(255, 255, 255, 0.07) -2px 1px 1px -1px;
	transition: brightness 0.25s ease-in-out 0s, transform 0.15s ease-in-out 0s, box-shadow 0.11s ease-in-out 0s;
}
#VoteOptionButton:hover {
	brightness: 2.5;
}
#VoteOptionButton.active:hover {
	brightness: 2.5;
}
#VoteOptionButton.active {
	brightness: 2;
	transform: scale3d(0.98, 0.98, 1);
}
#VoteOptionButton:active {
	box-shadow: inset rgba(255, 255, 255, 0.02) -2px 1px 1px -1px;
}
#VoteOptionText {
	align: center center;
	font-weight: lighter;
	color: gainsboro;
	text-align: center;
}

#NoticeContainer {
	width: 800px;
	height: 110px;
	border: 3px solid #222529;
	border-radius: 4px;
	background-image: url("file://{resources}/images/custom_game/import_dota/ability_bg_psd.png");
	background-color: #263238;
	background-size: 100%;
	margin-top: 50px;
	margin-left: 50px;
	padding: 0px 3px 2px 3px;
}

#NoticeLabel {
	align: center center;
	text-align: center;
	color: #ff0000;
	font-size: 28px;
	text-overflow: shrink;
	text-shadow: 0px 0px 2px 2 rgba(0, 0, 0, 0.89);
}
